body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   line-height: 1.6em;
   font-size: 1.3em;
   background-image: url("bookbackground.jpg");
}

a {
    color:#97659;
   }

input {
  font-size: 1.5em;
}

.container {
  width: 730px;
  margin:auto;
  margin-top:100px;
  margin-left:100px;
  //background-color: #cccccc;
}

.container2 {
  width: auto;
  margin:auto;
  margin-top:100px;
  margin-left:100px;
  padding-top: 50px;
  padding-left: 50px;
  text-decoration-color: #fff;
}

ul {
  padding-left: 20px;
}

.delete-book-link {
  color:red;
}


h1,h2,h3,h4,h5,h6 {

	color:white;
	text-transform: capitalize;

}

button {
	background: #00d8ff;
    border: 1px solid #00d8ff;
    width: 120px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
button:hover{
    color: #fff;
    background: #00d8d5;
    border: 1px solid #00d8d5;
